WHENEVER SQLERROR EXIT SQL.SQLCODE

CREATE TABLE EVENT_PUBLICATION (
    ID RAW(16) NOT NULL,
    PUBLICATION_DATE TIMESTAMP(6) WITH TIME ZONE NOT NULL,
    LISTENER_ID VARCHAR2(255 CHAR) NOT NULL,
    SERIALIZED_EVENT VARCHAR2(255 CHAR) NOT NULL,
    EVENT_TYPE VARCHAR2(255 CHAR) NOT NULL,
    COMPLETION_DATE TIMESTAMP(6) WITH TIME ZONE,
    LAST_RESUBMISSION_DATE TIMESTAMP(6) WITH TIME ZONE,
    COMPLETION_ATTEMPTS NUMBER(10,0) NOT NULL,
    STATUS VARCHAR2(255 CHAR),
    CONSTRAINT PK_EVENT_PUBLICATION PRIMARY KEY (ID)
);

EXIT
